name: use reusable workflow
on: push
jobs:
    lint:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v2  
        - name: install dependencies
          run: npm ci
        - name: Linit code
          run: npm run lint
        
    test:
      needs: lint
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v2  
        - name: install dependencies
          run: npm ci
        - name: Run test
          run: npm run test
    deploy:
        needs: test
        uses: ./.github/workflows/reusable.yml
        