name: deployment exercise
on: push
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2  
            - name: install dependencies
              run: npm ci
            - name: Linit code
              run: npm run lint
            - name: Run tests
              run: npm run test
            - name: Build application
              run: npm run build
            - name: Deploy application
              run: echo "Deploying application..."